<% director = Director.find_by(id: params["id"]) %>

<h1>Editing Director #<%= director.id %></h1>

<form action="/directors/<%= director.id %>/update" class='col-sm-5'>

  <p class="form-group">Name: <input class="form-control" value="<%= director.name %>" type="text" name="name" placeholder="Enter director's name..."></p>
  </p>

  <button class="btn btn-primary">Update Director</button>

</form>
