<h1>Add a New Director</h1>

<form action="/directors/create" class='col-sm-5'>

  <p class="form-group">Name: <input class="form-control" type="text" name="name" placeholder="Enter director's name..."></p>

  <button class="btn btn-primary">Submit</button>

</form>

<br>
<p>Note: Please visit the Add Movie page to add any movies for this Director.</p>